<configuration>
  <system.webServer>
    
    <!-- adds index.js to the default document list to allow 
    URLs that only specify the application root location, 
    e.g. http://mysite.antarescloud.com/ -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
  </staticContent>
  </system.webServer>
</configuration>