body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
    box-sizing: border-box;
}

#rootBody {
    background-color: #777777;
}

a {
    font-size: large;;
    color: lightblue;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#background {
    background-color: #222222;
}

.selectedDriverText {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header {
    color: #dddddd;
}
